body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0f;
  color: white;
}

/* HEADER */
header {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #00ff88, #0066ff);
}

/* CONTAINER */
#matches {
  padding: 10px;
}

/* CARD */
.card {
  background: #1c1c1c;
  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.01);
  background: #242424;
}

/* LEAGUE */
.league {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 5px;
}

/* MATCH LAYOUT */
.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEAMS */
.team {
  width: 40%;
  font-weight: bold;
}

/* SCORE */
.score {
  font-size: 18px;
  color: #00ff88;
  display: flex;
  gap: 5px;
  align-items: center;
}

.vs {
  color: #888;
}
