body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0f;
  color: white;
}

/* HEADER MENU */
header {
  padding: 15px;
  background: linear-gradient(90deg, #00ff88, #0066ff);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu span {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* MATCHES */
.container {
  padding: 10px;
}

.card {
  background: #1c1c1c;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
}

.score {
  color: #00ff88;
}
